@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Fira+Code&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	background: #08204b;
	color: #fff;
	font-family: "Lexend", system-ui, sans-serif;
}

.container {
	width: min(800px, calc(100% - 3em));
	margin: 8em auto 2em auto;
}

.editor {
	margin-bottom: 0.5em;
}

.editor h2 {
	margin: 0.5em 0 0.2em 0;
	float: left;
}

textarea {
	width: 100%;
	resize: vertical;
	padding: 1em 0.5em;
	background: #0b0f1a;
	color: #fff;
	border: none;
	border-radius: 0.5em;
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
	font-size: 1.2rem;
	tab-size: 4;
}

textarea:focus {
	outline: none;
}

.symbols {
	display: flex;
	float: right;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
	position: sticky;
	top: 0.5em;
}

.make-symbol {
	display: inline-block;
	width: 2em;
	height: 2em;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 1.5em;
	font: inherit;
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
	background: #0b0f1a;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
}

.make-symbol:hover {
	background: #fff;
	color: #0b0f1a;
}

.right {
	float: right;
}

#run {
	background: #08204b;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 0.2em;
	padding: 0.2em 0.5em;
	font: inherit;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
}

#run:hover {
	background: #fff;
	color: #08204b;
}

details {
	margin-bottom: 1em;
}

summary {
	cursor: pointer;
}

summary h3 {
	margin-top: 0;
	margin-bottom: 0.2em;
	display: inline-block;
}

pre {
	margin: 0;
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
	tab-size: 4;
	white-space: pre-wrap;
}

pre#output {
	margin-bottom: 0;
}
.inputs {
	margin: 0.2em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
}
.hidden {
	display: none;
}
.inputs * {
	padding: 0.2em 0.5em;
	background: #0b0f1a;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 0.5em;
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
	tab-size: 4;
	font-size: 1rem;
	transition: 0.2s border, 0.2s background, 0.2s color;
}
.inputs input[type="text"],
.inputs input[type="number"] {
	width: 40ch;
}
.inputs input[type="checkbox"] {
	appearance: none;
	margin: 0;
	cursor: pointer;
	background: #0b0f1a;
	transition: 0.2s background, 0.2s border;
	width: 1.8em;
	height: 1.8em;
	border: 2px solid #fff8;
	position: relative;
}
.inputs input[type="checkbox"]:hover,
.inputs input[type="checkbox"]:focus {
	border: 2px solid #fff;
}
.inputs input[type="checkbox"]::after {
	content: "";
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	border-radius: 4px;
	background: transparent;
	transition: 0.2s background;
}
.inputs input[type="checkbox"]:checked::after {
	background: #fff;
}
.inputs select,
.inputs button {
	cursor: pointer;
}
.inputs *:focus {
	outline: none;
	border: 1px solid #fff;
}
.inputs button:hover,
.inputs button:focus {
	background: #fff;
	color: #0b0f1a;
}

.about {
	margin-top: 3em;
	line-height: 1.5em;
}
.about h1 {
	font-size: 2.5rem;
	margin: 1em 0 0.5em 0;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.small {
	text-decoration: none;
	border-bottom: none !important;
}
.small img {
	width: 0.8em;
	display: inline-block;
}
.small img {
	filter: invert();
	transition: opacity 0.2s;
}
.small img:hover {
	opacity: 0.8;
}
.about h2 {
	font-size: 1.8rem;
	margin: 1em 0 0.3em 0;
}
.about h3 {
	font-size: 1.2rem;
	margin: 0.5em 0 0.3em 0;
}
.about p,
.about summary,
.about ul,
.about ol {
	margin: 0.2em 0 0.8em 0;
}
.about summary {
	cursor: pointer;
}
.about ul {
	list-style: none;
	padding: 0;
}
.about a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	transition: border-bottom 0.2s, opacity 0.2s;
}
.about a:hover {
	border-bottom: 1px solid transparent;
	opacity: 0.8;
}
.about table {
	border-collapse: collapse;
	width: 100%;
	margin: 0.5em 0;
}
.about table th {
	text-align: left;
	padding: 0.2em 0.5em;
	border-bottom: 1px solid #fff;
}
.about table td {
	padding: 0.2em 0.5em;
}
.about table tr:nth-child(2n) {
	background: #0002;
}
.about pre {
	font-size: 1rem;
	line-height: 1.2em;
	padding: 1em;
	background: #13192c;
	border-radius: 0.5em;
}
.about code:not(pre code) {
	font-size: 1rem;
	background: #13192c;
	display: inline-block;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
}
